@media(max-width: 430px) {
    .calc {
      display: grid;
      grid-template-rows: .5fr 1fr;
      height: inherit;
      padding: 0px;
      border-radius: 0px;
    }
    .buttonarea__button {
      min-height: 50px;
      font-size: 35px;
    }
    .calc__output {
      height: auto;
      font-size: 55px;
    }
  }
  @media(min-height: 850px) and (max-width: 430px) {
    .calc {
      grid-template-rows: .6fr 1fr;
    }
    .calc__output {
      font-size: 60px;
    }
  }
  @media(max-height: 660px) and (max-width: 430px) {
    .calc {
      grid-template-rows: .4fr 1fr;
    }
    .calc__output {
      font-size: 50px;
    }
  }
  @media(max-height: 570px) and (max-width: 375px) {
    .calc {
      grid-template-rows: .3fr 1fr;
    }
    .calc__output {
      font-size: 40px;
    }
    .buttonarea__button {
      font-size: 30px;
    }
  }